* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#main {

}

#header {
    Height: 46.5px;
    background-color: #000;
    right: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
} 

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase; /* in hoa các thẻ a ở cấp 1 */
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}

#nav .nav-arrow-down {
    /*Mặc định font size của icon là 16*/
    font-size: 13px;
}
#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {  
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a {
    color: #333;
    padding: 0px 16px;
    line-height: 38.5px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color:#fff;
    font-size: 20px;
    line-height: 46.5px;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/assets/img/slider1/la.jpeg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    font-weight: 500px;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {
   
}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

#content .member-list {
    padding: 32px 0px;
}

#content .member-item {
    float: left;
    width: calc(100%/3);
    text-align: center;
    /* width: 33.33333%; */
}

#content .member-name {
    font-size: 15px;
    line-height: 1.5;
    margin: 15px 0;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
}

#content .tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li {

    list-style-type: none;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket-list .sold-out {
    background-color: #f44336;
    margin-left: 16px;
    padding: 0px 8px;
    color: #fff;
}

.ticket-list .quantity {
    background-color: #000;
    color: #fff;
    padding: 0px 8px;
    margin-right: 16px;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Place */
.places-list {
    margin: 32px -8px 0px -8px;
    padding-bottom: 64px;
}

.place-item {
    float: left;
    width: 33.333%;
    padding: 0px 8px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    padding: 16px 16px;
    font-size: 15px;
}

.place-content .City {
    font-size: 15px;
    margin-bottom: 16px;
}

.place-content .place-time {
    margin-bottom: 16px;
    color: #757575;
}

.place-content .place-desc {
    margin-bottom: 16px;
    line-height: 1.5;
}

.place-content .place-buy-btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
}

.place-content .place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

#footer {

}

/* Buy ticket modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
}

.modal-container .modal-header {
    background-color: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-container .modal-footer {
    padding: 16px;
    float: right;
}

.modal-container .modal-header .modal-heading-icon {
    margin-right: 16px;
}

.modal-container .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-container .modal-close:hover {
    opacity: 1;
    color: #000;
    background-color: #ccc;
}

.modal-container .modal-body {
    padding: 0px 16px;
}

.modal-body .modal-label {
    display: block;
    font-size: 15px;
    margin: 15px 0px;
}

.modal-body .modal-input {
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    font-size: 15px;
}

.modal-body #buy-tickets {
    margin: 16px 0px;
    padding: 16px;  
    width: 100%;
    color: #fff;
    background-color: #009688;
    border: 0px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-body #buy-tickets:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    margin: 15px 0px;
}

.modal-footer a {
    color: #2196F3;
}